# --- Core app dependencies ---
streamlit
ultralytics
opencv-python-headless==4.12.0.88
Pillow
matplotlib
numpy
requests

# --- Machine Learning & Vector Search ---
torch
torchvision
faiss-cpu
open-clip-torch
transformers